<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sending Results</title>
    <link rel="stylesheet" href="../resources/materialize.min.css">
    <style>
        body {
            padding: 2rem !important;
        }
    </style>
</head>
<body>
<h1 class="center">Sending Results</h1>
<table class="striped highlight responsive-table grey darken-3 white-text">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Sender</th>
        <th scope="col">Receiver</th>
        <th scope="col">Branch</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Weight</th>
        <th scope="col">Send</th>
        <th scope="col">Receive</th>
        <th scope="col">Type</th>
        <th scope="col">Method</th>
        <th scope="col">Status</th>
    </tr>
    </thead>

    <tbody class="white grey-text">
    %{Insert_Here}%
    </tbody>
</table>
</body>
</html>